*{
	margin:0;
	padding: 0;
	box-sizing: border-box; 
}
html{
	font-family: Century Gothic;
	height: 150vh;
}

.logo img{
	position: absolute;
	top:0%;
	left:3%;
	float: left;
	width: 250px;
	height: auto;
}
.main{
	max-width: 1400px;
	margin: auto;
}
.title{
	color: lightgrey;
	position: absolute;
	top: 17%;
	left:52%;
	transform: translate(-50%,-50%);
	
}

.title h3{
	color: crimson;
	font-size: 27px;
}



ul{
	 float: right;
     list-style-type: none;
     margin-top: 25px;
}
ul li{
	display: inline-block;


}
ul li a {
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
	border-radius: 40px;
	font-size: 18px;

}
ul li a:hover{
  background-color: #009688;
  color: #fff;

}



footer{
	position: absolute;
	top: 120%;
	background: #111;
	height: auto;
	width: 100vw;
	font-family: "Open Sans";
	padding-top: 40px;
	color: #fff;

}

.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;

}

.footer-content h2{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;

}

.footer-content p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 17px;

}

.footer-content span{

	text-transform: uppercase;
	opacity: .5;
	font-weight: 200;
}


.socials{

	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;

}

.socials li{
	margin: 0 10px;

}

.socials a{
	text-decoration: none;
	

}

.socials a i{
	font-size: 1.6rem;
	transition:  0.1s ease;
}

.socials a:hover{

	transform: scale(1.6);
	background-color: white;
	color : #000;
}


.socials a:hover i{
      color: #000;

}

.footer-bottom{
	background: #000;
	width: 100vw;
	padding: 15px 0;
	text-align: center;

}

.footer-bottom p{
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
}




body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #091921;
	}

	.clock
	{
		position: absolute;
		top: 43%;
		width: 350px;
		height: 350px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: url(anlclock.png);
		background-size: cover;
		border: 4px solid #091921 ;
		border-radius: 50%;
		box-shadow:  0 -15px 15px rgba(255,255,255,0.05),
		       inset 0 -15px 15px rgba(255,255,255,0.05),
		       0 15px 15px rgba(0,0,0,0.3),
		       inset 0 15px 15px rgba(0,0,0,0.3);
	} 

	.clock:before{
		content: '';
		position: absolute;
		width: 15px;
		height: 15px;
		background: #fff;
		border-radius: 50%;
		z-index: 10000;

	}

	.clock .hour,
	.clock .min,
	.clock .sec
	{
		position: absolute;

	}

	.clock .hour, .hr
	{
		width: 160px;
		height: 160px;

	}

	.clock .min, .mn
	{
		width: 190px;
		height: 190px;
		
	}

	.clock .sec, .sc
	{
		width: 230px;
		height: 230px;
		
	}

	.hr, .mn, .sc
	{
		display: flex;
		justify-content: center;
		/*align-items: center;*/
		position: absolute;
		border-radius: 50%;

	}

	.hr:before
{
	content: '';
	position: absolute;
	width: 8px;
	height: 80px;
	background: crimson;
	z-index: 10;
	border-radius: 6px 6px 0 0;
}

.mn:before
{
	content: '';
	position: absolute;
	width: 4px;
	height: 90px;
	background: cyan;
	z-index: 11;
	border-radius: 6px 6px 0 0;
}

.sc:before
{
	content: '';
	position: absolute;
	width: 2px;
	height: 150px;
	background: lime;
	z-index: 12;
	border-radius: 6px 6px 0 0;
}

.back-bn .bn{
	position: absolute;
	top:100%;
	left: 46%;
 
  border: 2px solid #009688;
  padding:10px 30px;
  color: white;
  text-decoration: none;
  transition: 0.6s ease;
  border-radius: 40px;
  font-size: 18px;

  }

  .bn:hover {
    background-color: #009688;
  color: #fff;
}
